{% extends "base/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/account/logout/">Desconectarse</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p></p>
<{{consejos}}>

<div class="container-fluid" >
  <div class="row ">

      
    <div class="col-4" style='height: 200px;'>    
      <a href ='/cuestionario/'><div class=" rounded col-xs-1 text-center d-flex justify-content-center p-5 border border-dark bg-white">Cuestionario</div></a>
    </div>

    {% for id, valor in consejos.items %}

        <div class="col-4 col-xs-1 text-center  "style='height: 200px;' > 
          <a href ='/consejos/{{id}}/'><div class="rounded d-flex justify-content-center p-5 border border-info bg-white">{{valor}}</div></a>
        </div>

    {% endfor %}

  </div>
</div>
{% endblock %}